<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NewApplicationTestScripts" parallel="methods" thread-count="2">
	<test name="TestSuite1">
		<classes>
		
<class name="testscripts.NewApplication.TC_NewApplication_HomePageValidation"/>
<class name="testscripts.NewApplication.TC_NewApplication_Login"/>

		</classes>
	</test>
</suite>

